{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <style>
        .buttons-container a {
            display: inline-block;
            margin: 5px;
        }

        .duplicate-button {
            display: none;
        }
    </style>

    <h1>Welcome to the Home Page!</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! You are logged in.</p>
        
        <!-- כפתורים עם מזהה כדי להסתיר אותם במקרה של כפילות -->
        <div class="buttons-container">
            <a href="{% url 'home' %}" class="duplicate-button">Home</a>
            <a href="{% url 'add_customer' %}" class="duplicate-button">Create a new customer</a>
            <a href="{% url 'password_change' %}" class="duplicate-button">Change Password</a>
            <a href="{% url 'logout' %}" class="duplicate-button">Logout</a>
        </div>
    {% else %}
        <p>You are not logged in. Please <a href="{% url 'login' %}">login</a>.</p>
    {% endif %}
{% endblock %}
