{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <h1>Welcome to the Home Page!</h1>
    <p>Hello, {{ user.username }}! You are logged in.</p>

    <div>
        <a href="{% url 'home' %}">Home</a>
    </div>
    <div>
        <a href="{% url 'add_customer' %}">Create a new customer</a>
    </div>
    <div>
        <a href="{% url 'password_change' %}">Change Password</a>
    </div>
    <div>
        <form method="POST" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
{% endblock %}
