{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
    <h2>Change Password</h2>
    
    <!-- הצגת הודעות -->
    {% if messages %}
        <div class="messages">
            <ul style="color: red; list-style-type: none;">
                {% for message in messages %}
                    <li class="{{ message.tags }}" style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        
        <!-- הצגת הטופס (שדות הקלט) -->
        <div style="margin-bottom: 10px;">
            {{ form.as_p }}
        </div>

        <!-- כפתור שליחת הטופס -->
        <button type="submit" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">Change Password</button>
    </form>

{% endblock %}
